.App-header {
  font-family: 'Comfortaa', cursive;
  background-color: #EDFDF9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.two {
  background-color: #2F4858;
}

.light {
  color: black;
}

.dark {
  color: white;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Comfortaa', cursive !important;
  word-wrap: break-word;
  white-space: normal;
}

.ui.grid>.row {
  padding-top: .5rem !important;
  padding-bottom: .5rem !important;
}

.ui.tiny.popup {
  font-family: 'Comfortaa', cursive;
}

.ui.compact.message {
  margin: auto;
}

p img {
  width: 80%;
  display: block;
  margin: auto;
}

ul li a {
  word-wrap: break-word;
  color: black;
}

ul li {
  margin: 10px 0;
}

pre code {
  border: 1px solid #ccc;
  border-radius: 10px;
}

p code {
  background-color: aliceblue;
  color: #557ADB;
}

.project-image {
  width: 90% !important;
  height: 75%;
  margin: auto;
  display: block;
}

.project-info {
  text-align: left !important;
}

.project-button {
  margin-top: .25rem !important;
}

.skills-image {
  width: 80px;
  height: 80px;
}

.section-holder {
  background-color: #97B0AA !important;
  width: 75%;
  text-align: center;
}

.skills-image {
  cursor: pointer;
}

.copyright {
  text-align: center;
  font-size: 12px;
  padding-bottom: 10px;
}

.project-info-row {
  height: 340px;
}

.site-link {
  margin-top: 25px !important;
}

.ui.card {
  text-align: center;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
}

.ui.button:hover {
  box-shadow: 0px 0px 8px 7px #ccc;
}

.ui.teal.buttons:hover {
  box-shadow: 0px 0px 8px 7px #ccc;
}

.ui.inverted.vertical.labeled.icon.ui.left.visible.sidebar.menu {
  width: 85px;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.ui.inverted.vertical.labeled.icon.ui.left.visible.sidebar.menu:hover {
  width: 170px;
}

@media only screen and (max-width: 800px) {
  .skills-image {
    width: 80%;
    height: initial;
  }
  .project-info-row {
    height: inherit;
  }
  .section-holder {
    width: 50%;
  }
  .ui.inverted.vertical.labeled.icon.ui.left.visible.sidebar.menu {
    width: 90px;
  }
  .ui.inverted.vertical.labeled.icon.ui.left.visible.sidebar.menu:hover {
    width: 90px;
  }
}
