.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  font-family: 'Comfortaa', cursive;
  background-color: #97B0AA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-family: 'Comfortaa', cursive !important;
}

a {
  font-family: 'Comfortaa', cursive !important;
}

.project-image {
  height: 90% !important;
  width: 90% !important;
}

.project-info {
  text-align: left !important;
}

.section-holder {
  background-color: #97B0AA !important;
  width: 80%;
  text-align: center;
}
